[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
sanic = "==25.3.0"
aioredis = "==2.0.1"
aio-pika = "*"
motor = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3"
